.author {
  text-align: center;
  padding: 1rem;
}

.author div {
  margin-bottom: 1rem;
}

.author_intro {
  font-size: .8rem;
  color: #999999;
}

.account {
  background-color: #999999;
  margin-left: .5rem;
  margin-right: .5rem;
}