.header {
  background-color: #fff;
  padding: .4rem;
  overflow: hidden;
  height: 3.2rem;
  border-bottom: 1px solid #cccccc;
}

.header_logo {
  font-size: 1.4rem;
  color: #1e90ff;
  text-align: left;
}

.header_txt {
  font-size: .6rem;
  color: #999;
  display: inline-block;
  padding-left: .3rem;
}

.ant-menu {
  line-height: 2.8rem;
}

.ant-menu-item {
  font-size: 1rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}