body {
  background-color: #f6f6f6;
}

.comm_main {
  margin-top: .5rem;
}

.comm_left {
  background-color: #fff;
  padding: .3rem;
  border-radius: .3rem;
  border-bottom: 1px solid #eee;
}

.comm_box {
  background-color: #fff;
  margin-left: .5rem;
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eeeeee;
}

.blog_title {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 .5rem;
}

.blog_icon {
  padding: .5rem 0;
  color: #aaaaaa;
}

.blog_icon span {
  display: inline-block;
  padding: 0 10px;
}

.blog_context {
  color: #777777;
  padding: .5rem;
}

.breadcrumb {
  padding: .5rem;
  border-bottom: 1px solid #eeeeee;
  background-color: #e1f0ff;
}