.blog_detail_title {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}

.blog_detail_content {
  padding: 1.3rem;
  font-size: 1rem;
}

.center {
  text-align: center;
}

.nav_title {
  text-align: center;
  color: #888888;
  border-bottom: 1px solid rgb(30, 144, 255);
}

.ant-anchor-link-title {
  font-size: 12px;
}